div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}

#box1{
    background-color: brown;
    @media(max-width:300px){
        background-color: green;
    }
    }

    #box2{
        background-color: blueviolet;
        @media(min-width:300px)and (max-width:400px) {
            background-color: green;
        }
    }

    #box3{
           background-color:chocolate;
            @media(min-width:400px)and (max-width:600px) {
                background-color:red;
            }
        }

        #box4{
            background-color:blue;
            @media(min-width:600px) {
                background-color:purple;
            }
        }
