div{
     height: 100px;
     width: 100px;
     border: 2px solid black;
}

#container{
    height: 200px;
    width: 150px;
    display:flex;
    justify-content: flex-end;
    flex-direction: row;
}

#container1{
    height: 200px;
    width: 150px;
    display:flex;
    justify-content: flex-start;
    flex-direction: row;
}

#container2{
    height: 250px;
    width: 200px;
    display:flex;
    justify-content:center;
    flex-direction: row;
}

#container3{
    height: 600px;
    width: 450px;
    display:flex;
    justify-content:space-around;
    flex-direction: row;
}
#container4{
    height: 400px;
    width: 450px;
    display:flex;
    justify-content:space-between;
    flex-direction: row;
}
#container5{
    height: 500px;
    width: 450px;
    display:flex;
    justify-content:space-evenly;
    flex-direction: row;
}