body{
    background-color: rgb(78,67,79)
}

h1{
    text-align: center;
}

p{
    text-transform: capitalize;
}

#box{
font-family: 'Times New Roman';
}

#outer{
    font-size: 25px;
}
#inner{
    font-size: 15px;
}