#navbar{
    background-color:#0f1111;
    height:  60px;;
}
a{
   color: white; 
   font-size:normal;
   margin-right: 200px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-decoration: none;
   font-size: 25px;
}

body{
    background-color: navy;
}

#logo{
    color:yellow;
    font-size: 25px;;
    font-family:'Times New Roman', Times, serif;
}

 placeholder{
    margin-right : 200px;
 }

 button{
   background-color: orange ;
 }
