div{
   height: 100px; 
   width: 100px;
   border: 2px solid black;
   animation-name: coloranimate;
   animation-duration: 3s;
   animation-timing-function: ease-in;
   animation-delay: 1s;
   animation-iteration-count: 5;
   animation-direction: reverse;
   background-color: brown;
   border-radius: 50%;
}

@keyframes coloranimate {
    from {background-color: brown;}
    to {background-color: blueviolet;}
}